<!DOCTYPE html>
<html>
<head>
  <title>Rental</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5lq0M6di9Dc1cG2YlZjfxW1Ud6BxL_wU&libraries=places">
</script>
</head>
<body>

<%= yield %>

</body>
</html>
